* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  /* 禁止文本选择 */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
  /* 禁止拖拽图片 */
  -webkit-user-drag: none;
  user-drag: none;
}