* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  /* 禁止文本选择 */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
  /* 禁止拖拽图片 */
  -webkit-user-drag: none;
  user-drag: none;
}

/* 全局样式 ,el-ui的弹窗*/
.delete-dialog-top {
  margin-top: -500px !important;  /* 距离顶部 80px */
}


/* 统一所有滚动条样式 */
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}