* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  /* 禁止文本选择 */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
  /* 禁止拖拽图片 */
  -webkit-user-drag: none;
  user-drag: none;
}



/* 统一 el-table 滚动条样式 */
.el-table__body-wrapper::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

.el-table__body-wrapper::-webkit-scrollbar-track {
  background: transparent !important;
}

.el-table__body-wrapper::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2) !important;
  border-radius: 3px !important;
}

.el-table__body-wrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4) !important;
}